<%= form_for([@issue, @issue.comments.build]) do |f| %>
  <p>
    <text_area>
      <%= f.text_area :content, placeholder: "Type a new comment here" %>
      <%= f.submit "Publica", class:"btn btn-success4" %>
    </text_area>
  </p>

<% end %>
