<p style="color: green"><%= notice %></p>

<p><%= link_to "Home", issues_path, class:"btn btn-success-left" %></p>
<h1>Team</h1>
<h1><hr></h1>
<% @users.each do |user| %>
 <h2>
 <p>
   <% if user.image.attached? %>
       <%= image_tag user.image, :style => "height: 100px; width: 100px; margin-left: auto; margin-right: auto; border-radius: 50%; object-fit: cover" %>
   <% else %>
       <img src="/assets/default-user.jpg" style="height: 100px; width: 100px; margin-left: auto; margin-right: auto; border-radius: 50%">
   <%end%>
  <%= link_to "#{user.full_name}", user_path(user.id), style:
  "text-decoration: none;
  font-family: Ubuntu-Medium, Arial, Helvetica,sans-serif;
  color: #008aa8;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.2rem;"
  %>
 </h2>
 </p>
 <h1><hr></h1>
<%end%>