/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
  font-family: Ubuntu-Medium, Arial, Helvetica,sans-serif;
  color: #008aa8;
  font-size: 25px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  align-items: center;
  margin-left: 0.5rem;
}

 .btn-filter {
  transition: all .3s linear;
  font-size: 0.875rem;
  align-items: center;
  background-color: #e9eff1;
  color: #008aa8;
  padding: 0.5rem 0.5rem;
  text-transform: none;
  justify-content: center;
  line-height: initial;
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  border: 0;
  border-radius: 4px;
  font: inherit;
  margin-top: 40px;
  height: 30px;
}

.btn-filter:hover {
  background-color: #dedede;
  border-color: transparent;
  align-items: center;
  display: flex;
}

 .btn-filter2 {
  transition: all .3s linear;
  font-size: 0.875rem;
  align-items: center;
  background-color: #f9f9fb;
  color: #008aa8;
  padding: 0.3rem 0.2rem;
  text-transform: none;
  justify-content: center;
  line-height: initial;
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  border: 0;
  border-radius: 4px;
  font: inherit;
  transform: translate(3px, 3px);
  width: 35px;
  height: 30px;
  margin-right: 10px;
}

.btn-filter2:hover {
  background-color: #D6DBDF;
  border-color: transparent;
  align-items: center;
}

.btn-success {
  right: 20px;
  margin-right: 7em;
  position: absolute;
  background-color: #83eede;
  color: #2e3440;
  transition: all .3s linear;
  border-color: transparent;
  align-items: center;
  display: flex;
}

.btn-success-left {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  background-color: #83eede;
  color: #2e3440;
  transition: all .3s linear;
  border-color: transparent;
  align-items: center;
}

.btn-success:hover {
  background-color: #1d8fad;
  color: #ffffff;
  border-color: transparent;
  align-items: center;
  display: flex;
}

.btn-success2 {
  margin-left: 0rem;
  background-color: #83eede;
  color: #2e3440;
  transition: all .3s linear;
  border-color: transparent;
  align-items: center;
  display: inline;
}

.btn-success2:hover {
  background-color: #1d8fad;
  color: #ffffff;
  border-color: transparent;
  align-items: center;
  display: inline;
}

.btn-success3 {
  margin-left: 0rem;
  background-color: #83eede;
  color: #2e3440;
  transition: all .3s linear;
  border-color: transparent;
  align-items: center;
  display: inline;
}

.btn-success3:hover {
  background-color: #CD5C5C;
  color: #ffffff ;
  border-color: transparent;
  align-items: center;
  display: inline;
}

.btn-success4 {
  margin-left: 0rem;
  background-color: #83eede;
  color: #2e3440;
  transition: all .3s linear;
  border-color: transparent;
  align-items: center;
  display: inline;
}

.btn-success4:hover {
  background-color: #000000;
  color: #ffffff ;
  border-color: transparent;
  align-items: center;
  display: inline;
}

.tg-input-subject {
  padding-right: 50px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 0.95rem;
  width: 35%;
  transition: 0.3s linear;
}

.tg-input-description {
  padding-right: 150px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin: 0;
  padding: 0.3rem 7rem 7rem 0.8rem;
  width: 78%;
  transition: 0.3s linear;
}

.btn-tag {
  transition: all .3s linear;
  font-size: 0.875rem;
  align-items: center;
  background-color: #f9f9fb;
  color: #008aa8;
  padding: 0.5rem 0.5rem;
  text-transform: none;
  justify-content: center;
  line-height: initial;
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  border: 0;
  border-radius: 4px;
  font: inherit;
}

.btn-tag:hover {
  background-color: #dedede;
  border-color: transparent;
  align-items: center;
  display: flex;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.tg-input-search {
  padding-right: 50px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 0.95rem;
  width: 150%;
  transition: 0.3s linear;
}


.tg-input-search:focus {
  border: 2px solid #008aa8;
}

.search-icon1 {
  position: absolute;
  align-items: center;
  transform: translate(-30px, 5px);
}

.search-icon2 {
  position: absolute;
  align-items: center;
  transform: translate(-26px, 3px);
}

.filters-icon1 {
  width: 70%;
  align-items: center;
  transform: translate(113px, 0px);
  margin-right: 2px;
}

.filters-icon2 {
  width: 70%;
  align-items: center;
  transform: translate(122px, 0px);
  margin-right: 2px;
}

.sort-icon {
  width: 60%;
  align-items: center;
  transform: translate(1px, 2px);
}

.filetrs-icon:hover {
  background-color: #dedede;
  border-color: transparent;
  align-items: center;
  display: flex;
}

.tag-switch {
  margin-left: 5px;
  position: absolute;
  align-items: center;
  width: 35px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 40%;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox-tags {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.slider:before {
  background-color: #fff;
  border-radius: 40%;
  content: '';
  height: 10px;
  left: 10%;
  position: absolute;
  top: calc(50% - 5px);
  transition: all .2s linear;
  width: 10px;
}

input:checked + .slider {
  background-color: #008aa8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008aa8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.boton-new-bulk {
  right: 20px;
  margin-right: 4em;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background-color: #9e9e9e;
  border: none;
  cursor: pointer;
  align-items: center;
  transition: all .2s linear;
}

.boton-new-bulk:hover{
  background-color: #008aa8;
  border-radius: 10%;
}

.img-new-bulk {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  color: #212529;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
  background-color: #e9ecef;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu label {
  display: block;
  margin-bottom: 5px;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 5px;
}

#contenidor {
  width: 250%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}

h2 {
  font-family: Ubuntu-Medium, Arial, Helvetica,sans-serif;
  color: #008aa8;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

h3 {
  color: #008aa8;
  font-size: 16px;
  font-weight: normal;
  display: inline;
}

#box-content {
  display: none;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
}

#box-toggle {
  background-color: #ddd;
  border: none;
  padding: 10px;
}

#box-container {
  margin: 10px;
}

#filters-button:focus + #box-content {
  display: block;
}


.leftside, .rightside {
  width: 100%;
  height: 100vh;
}

h4 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  color: #2e3440;
  font-weight: 400;
}

.leftside, .rightside {
  width: 100%;
  height: 100vh;
}

.left-filters{
    width: 15%;
    min-width: 350px;
    height: available;
    min-height: 300px;
    float: left;
    background-color: white;
    border-collapse: collapse;
    margin-top:300px;
}

.filter-text1 {
  text-align: right;
  margin-left: 120px;
}

.filter-text2 {
  text-align: right;
  margin-left: 130px;
}

.text-no-issues-found {
  font-family: Ubuntu-Medium, Arial, Helvetica,sans-serif;
  color: #black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-left: 120px;
  margin-top: 275px;
}

#issues_table{
    margin-top:10px;
    margin-left:500px;
}

.box {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #000000;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

.hidden-inputs {
  display: none;
}

.popup-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 9999;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.container-popup {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-popup #input1 {
  width: 40em;
  height: 2em;
  text-align: left;
  vertical-align: top;
}

.container-popup #input2 {
  width: 40em;
  height: 10em;
  text-align: left;
  vertical-align: top;
}

.container-popup #button-save {
  width: 40em;
  height: 3em;
}

.clock-icon {
  width: 15px;
  height: 15px;
}

.box2 {
  width: 175px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #000000;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
  margin-left: 10px;
}

.attachments_box {
  margin-left: -11px;
}

li {
    position: relative;
    height: 4rem;
    background-color: #FAFCFD;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;

    &:hover {
      background-color: #FF908B;
    }

    &.closed {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
    }
  }

h10 {
  font-size: 1.4rem;
  font-family: Ubuntu-Regular,Arial,Helvetica,sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #2e3440;
  font-weight: 400;
}

.btn-success9 {
  margin-left: 41rem;
  background-color: #83eede;
  color: #2e3440;
  transition: all .3s linear;
  border-color: transparent;
  align-items: center;
  display: flex;
}

.btn-success9:hover {
  background-color: #1d8fad;
  color: #ffffff;
  border-color: transparent;
  align-items: center;
  display: flex;
}

.hidden-bulk {
  display: none;
}

.tg-input-search2 {
  padding-right: 50px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #d8dee9;
  border-radius: 3px;
  color: #4c566a;
  margin-left: 5rem;
  padding: 0.3rem 1rem 0.3rem 0.95rem;
  width: 80%;
  transition: 0.3s linear;
  max-height: 12rem;
  min-height: 15rem;
}

textarea {
  width: 100%;
  min-height: 3rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #4c566a;
  font-size: 16px;
  resize: none;
}

.tg-input-search2:focus {
  border: 2px solid #008aa8;
}

.hidden-comments {
  display: none;
}

.btn-success10 {
  color: #2e3440;
  transition: all .3s linear;
  display: inline;
  text-align: left;
}

.btn-success10 .btn-success10.active {
  border-bottom: 3px solid #434456;
  color: #434456;
}

.btn-success10:hover {
  display: inline;
}

span3 {
  font-family: Ubuntu-Medium,Arial,Helvetica,sans-serif;
  transition: all .1s linear;
  color: #434456;
  display: inline-block;
  font-family: Helvetica;
  margin-bottom: 1rem;
  font-weight: bold;
}

span3:hover {
  font-family: Ubuntu-Medium,Arial,Helvetica,sans-serif;
  transition: all .1s linear;
  color: #25a28c;
  display: inline-block;
  font-family: Helvetica;
  margin-bottom: 1rem;
  font-weight: bold;
}
